#Notes throught the course (Data analysis)

In [ ]:
SELECT count(*) FROM sales.transactions;  >> count rows in transaction table
2) we tried to discover the number of transactions in chennie market that located in india
3)WE WANT TO DISCOVER NUMBER OF TRANSACTIONS IN 2020 SO WE NEED TO APPLY INNER JOIN BTW (TRANSACTIONS AND DATE )

SELECT sales.transactions.*, sales.date.*
FROM sales.transactions
INNER JOIN sales.date ON sales.transactions.order_date = sales.date.date;

4)revenue in chenna and in 2020
SELECT SUM( sales.transactions.sales_amount) FROM sales.transactions INNER JOIN sales.date ON sales.transactions.order_date=sales.date.date
 where sales.transactions.market_code="Mark001" and sales.date.year="2020";

5)distict productes that u sell in chennie
SELECT distinct product_code FROM sales.transactions where market_code="Mark001";

In [ ]:
SELECT sales.transactions.*, sales.date.* :

This part selects all columns (*) from both tables
FROM sales.transactions:

Specifies sales.transactions as the main table from which data will be pulled (fetched).

INNER JOIN sales.date :
This performs an inner join between sales.transactions and sales.date, meaning:
The query will return only the rows where there is a matching record in both tables.

ON sales.transactions.order_date = sales.date.date
Defines the join condition:
The order_date column in sales.transactions must match the date column in sales.date.

This helps bring in additional date-related information (e.g., year, quarter, month) from sales.date for each transaction

#power Bi

In [ ]:
Understanding the concept of data models in Power BI, establishing relationships between tables, and creating a star schema for efficient data analysis.

In [ ]:
#in our market tabel we want to filter out paris and newyork cuz we work on delhi
#when we launch a a transform it will start >> power query editor where you can apply ETL,CLEANING
#from the transaction tabel i will filter  all the -1 or 0 from sales_amount.
#from transaction tabel i will trans the all the USD currencey to INR througutadding new column and apply the transformation from 0 and 1 to >> [sales_amount]*87 else [sales_amount]
= Table.AddColumn(#"Filtered Rows", "Currency_Norm", each if [currency] = "USD" or [currency] = "USD#(cr)" then [sales_amount]*87 else [sales_amount] )

In [ ]:
SELECT distinct (transactions.currency) FROM transactions;
'INR' 278  frequent need to be cleaned
'INR\r SELECT count(*) FROM sales.transactions WHERE currency="INR\r"; = 15000

same for usd currencey